.cover-fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
button, .clickable {
    display: block;
    all: unset;
    cursor: pointer;
  }
  
  button:focus, label:focus {
    outline:0;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
.wrapper{
 
    margin: 0 auto;
}
.over-flow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productBanner{
    width: 100%;
    height: 450px;
}
.sectionProduct{
    margin: 0 auto;
    max-width: 1280px;
}


/* top block         */
.title{
    margin: 20px 0 20px 0;
    text-align: center;
    color: #8C8079;
    font-weight: 600;
}
.list-wrapper{
    padding: 0 10%;
}
.topBlock{
    background-color: #8C8079;
    border: 1px solid #707070;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 50px auto;
    width: 1044px;
}
    

.topTitle{
    max-width: 344px;
    line-height: 75px;
    font-size: 25px;
    color: #FFFFFF;
    margin: auto 0;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.productPic{
    width: 250px;
    height: 250px;
    margin: auto 30px;
}

.product-section{
    display: flex;
    justify-content: flex-start;
    width: 1044px;
    margin: 0 auto 50px auto;
    flex-wrap: wrap;
}
.product-image:hover{
    cursor: pointer;
}

/* product list 4 version */


.product-list{
    text-align: center;
    max-width: 246px;
    position: relative;
    margin: 20px 0.7% 0 0.7%;
}
.product-image{
    width: 246px;
    height: 246px;
}

.love-btn{
    width: 39px;
    height: 39px;
    position: absolute;
    top: 250px;
    right: 0;
}
.product-discription{
    padding: 0 30px;
}
.p-title{
    font-size: 18px;
}
.p-main{
    margin-top: 22px;
    font-size: 11px;
}
.p-detail{
    font-size: 11px;
}
.p-price{
    margin: 28px 0 0 0;
    font-size: 17px;
    
}

/* product list 3 version */

/* .product-list{
    text-align: center;
    max-width: 330px;
    position: relative;
    margin: 20px 0.85% 0 0.85%;
}
.product-image{
    width: 330px;
    height: 330px;
}

.love-btn{
    width: 39px;
    height: 39px;
    position: absolute;
    top: 331px;
    right: 3px;

}
.product-discription{
    padding: 0 45px;
}
.p-title{
    font-size: 24px;
    margin-top: 9px;
}
.p-main{
    margin: 20px 0 0 0;
    font-size: 14px;
}
.p-detail{
    font-size: 14px;
    margin: 10px 0 0 0;
}
.p-price{
    margin: 28px 0 0 0;
    font-size: 24px;
    
} */

/* product list 2 version */

/* .product-list{
    text-align: center;
    max-width: 500px;
    position: relative;
    margin: 20px 0.85% 0 0.85%;
}
.product-image{
    width: 500px;
    height: 500px;
}

.love-btn{
    width: 59px;
    height: 59px;
    position: absolute;
    top: 495px;
    right: 3px;

}
.product-discription{
    padding: 0 60px;
}
.p-title{
    font-size: 35px;
    margin-top: 10px;
}
.p-main{
    margin: 20px 0 0 0;
    font-size: 20px;
}
.p-detail{
    font-size: 20px;
    margin: 13px 0 0 0;
}
.p-price{
    margin: 32px 0 0 0;
    font-size: 35px;
    
} */

@media screen and (max-width: 576px) {
    .productBanner{
        width: 376px;
        height: 211px;
    }
    .sectionProduct{
    margin: unset;
    width: 100%;
    }

/* top block         */
    .title{
        width: 100%;
        margin-top: 10px;
    }
    .topBlock{
        width: 100%;
        height: 150px;
    }
    .topTitle{
        width: 50%;
        height: 75px;
    }

    .productPic{
        width: 16vw;
        height: 16vw;
    }
/* product list */
    .productList{
        width: 376px;
    }
    .listPic{
        width: 43vw;
        height: 43vw;
    }
    .heart{
        bottom: -26px;
        right: 0;
        background-color: unset;
        
    }
    .mainName{
        width: 157px;
        height: 11px;
        margin-top: 10px;
    }
    .secondName{
        width: 157px;
    }
    .detail{
        width: 157px;
    }
    .price{
        width: 157px;
    }
}




/* 平板 */
@media screen and (max-width: 768px) {
    .sectionProduct{
        margin: 0;
        width: 100%;
    }

    /* top block         */
    .title{
        width: 100%;
    } 
    .topBlock{
        width: 100%;
        height: 200px;
    }
    
    
    /* product list */
    .productList{
        width: 768px;
        padding: 0;
    }


}
