<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./static/css/font.css">
  <link rel="stylesheet" href="./static/css/cart.css">
</head>

<body>
<div class="wrapper">
  <!-- picture section -->
  <div class="pic-pannel left-remove">
    <div class="bread-crumbs">
      <a href="index.html">Home</a> > <a onclick="loadDoc(docNames[4]);" href="javascript:;">男裝</a> >  <a onclick="loadDoc(docNames[0]);" href="javascript:;">衛衣</a>
    </div>
    <div class="picture-section">
      <div class="picture-demo">
        <img class="main-pic cover-fit" src="./static/images/cart.png" alt="">
      </div>
      <!-- picture group        -->
      <div class="picture-slide-panel cf">
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <div class="picture-body"><img class="group-pic cursor-pointer" src="./static/images/cart.png" alt=""></div>
        <img class="icon-arrow-down cursor-pointer" src="./static/images/down.png" alt="">
      </div>
      
    </div>

    <!-- info section -->
    <div class="product-info-panel">
      <ul class="product-info-wrapper list-unstyled">
        <li class="discription">
          <label for="prod-desc">商品描述</label>
        </li>
        <li class="stock">
          <label for="prod-qty">庫存數量</label>
        </li>
        <li class="rate">
          <label for="prod-comment">商品評分</label>
        </li>
      </ul>
    </div>
<!-- <div class="line"></div> -->
  
<!-- prod-desc start-->
    <input type="radio" class="hidden inp-hardcode" id="prod-desc" name="prod-grp">
    <div class="desc-section C14pt hidden">
      <p>請參閱描述。</p>
      <div class="desc-body">
        <p class="desc-box C14pt">率性俐落雪爾帕材質製成，面料輕柔卻具高度保暖效果，讓穿搭輕鬆展現亮點。</p>
        <img class="disImg" src="./static/images/cart.png" alt="">
        <p class="desc-box2 C14pt">簡約設計和實用性融為一體，兼具質感和簡單印花配色，任何時候都可穿著。</p>
        <img class="disImg" src="./static/images/cart.png" alt="">
      </div>

    </div>
<!-- prod-desc end-->    

<!-- QTY start-->
    <input type="radio" class="hidden inp-hardcode" id="prod-qty" name="prod-grp">
    <table class="qty-wrap hidden">
      <tbody>
        <tr>
          <td class="mA3" colspan="2">|規格<select name="" id="">
            <option value="">M</option>
          </select></td>
        </tr>
        <tr>
          <td class="mA3">|公分</td>
          <td class="td2 mA3">５公分</td>
        </tr>
        <tr>
          <td class="mA3">|重量</td>
          <td class="td2 mA3">1.4kg</td>
        </tr>
        <tr>
          <td class="mA3">|剩餘數量remained quality</td>
          <td class="td2 mA3">庫存僅剩4個</td>
        </tr>

      </tbody>
    </table> 
    <!-- QTY end-->
  
  
  
    <!-- comment start    /////nana ps 此段為登入會員後點選我要評論 -->
    <!-- <input type="radio" class="hidden inp-hardcode" id="prod-comment" name="prod-grp">
    <div class="leave-comment hidden">
         <div class="comment-title f-16px">我要評論</div>
         <div class="star f-7px">星級：<i class="fa fa-star"></i><i class="fa fa-star"></i><i
                 class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
         </div>
         <input class="f-10px" type="text">
         <button class="submit f-6px">確定送出</button>
     </div> -->
    <!-- comment end -->

    <!-- prod-comment start -->
    <input type="radio" class="hidden inp-hardcode" id="prod-comment" name="prod-grp">
    <div class=" descrip-wrap hidden">
        <div class="description">
            <div class="product-descrip flex ">
                <div class="comment mA4">商品評論</div>
                <div class="star"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <div class="recommend mA1">89%的購買者推薦此商品。</div>
            </div>
            <div class="product-descrip-2 flex">
                <div class="client-name mA1">客戶用名：<input type="text"></div>

                <div class="comment-button"> <button onclick="loadDoc(docNames[5])" class="mA2">我要評論</button> </div>
            </div>
            <div class="append-comment"><button><img src="././static/images/down.png" alt=""></button></div>
        </div>
        <div class="description-2">
            <div class="guest">
                <div class="flex space-between">
                    <div class="guest-name mA1">Fish <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="rate-score flex ">
                        <div class="question mA1">對您有幫助嗎？</div>
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="comment-date mA1">2020/07/22 22:58</div>


            </div>
        </div>
        <div class="description-2">
            <div class="guest">
                <div class="flex space-between">
                    <div class="guest-name mA1">Fish <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="rate-score flex ">
                        <div class="question mA1">對您有幫助嗎？</div>
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="comment-date mA1">2020/07/22 22:58</div>
            </div>
        </div>
        <div class="description-2">
            <div class="guest">
                <div class="flex space-between">
                    <div class="guest-name mA1">Fish <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="rate-score flex ">
                        <div class="question mA1">對您有幫助嗎？</div>
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="comment-date mA1">2020/07/22 22:58</div>
            </div>
        </div>
        <div class="description-2">
            <div class="guest">
                <div class="flex space-between">
                    <div class="guest-name mA1">Fish <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="rate-score flex ">
                        <div class="question mA1">對您有幫助嗎？</div>
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="comment-date mA1">2020/07/22 22:58</div>
            </div>
        </div>
        <div class="description-2">
            <div class="guest">
                <div class="flex space-between">
                    <div class="guest-name mA1">Fish <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <div class="rate-score flex ">
                        <div class="question mA1">對您有幫助嗎？</div>
                        <i class="fa fa-check"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="comment-date mA1">2020/07/22 22:58</div>
            </div>
        </div>
        <div class="page">
            <a href=""><img src="./static/images/Path 1.svg" alt=""></a>
            <a href=""><img src="./static/images/1.png" alt=""></a>
            <a href=""><img src="./static/images/2.png" alt=""></a>
            <a href=""><img src="./static/images/3.png" alt=""></a>
            <a href=""><img src="./static/images/Path 2.svg" alt=""></a>
        </div>
    </div>
    <!-- prod-comment end-->

    

  

    <!-- slide section -->
    <div class="slideSection">
      <button class="test-abc"><a class="new-button" href="">NEW</a></button>

      <div class="slide-panel">
        <div class="slide-like">
          <div class="like">猜你喜歡</div>

          <div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/small.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div>

          <!-- aaSDFASFD -->
          <div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/small.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div><div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/small.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div><div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/small.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div><div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/small.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div>
          <!-- ASDFSDF -->

          <button><img class="arrow" src="./static/images/arrow.png" alt=""></button>
        </div>
      </div>
        <!-- duplicate-field -->
        <div class="slide-panel">
        <div class="slide-like">
          <div class="like">瀏覽紀錄</div>

          <div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/man.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 888</div>
              </div>

            </div>
          </div>

          <div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/man.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div><div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/man.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div><div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/man.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 780</div>
              </div>

            </div>
          </div><div class="slideProduct">
            <div class="slideImg">
              <img class="cover-fit cursor-pointer" src="./static/images/man.png" alt="">
              <div class="product-price">
                <div class="name mH5">個性長版外套</div>
                <div class="priceTag Pdetail">NT$ 888</div>
              </div>

            </div>
          </div>

          <button><img class="arrow" src="./static/images/arrow.png" alt=""></button>
        </div>
      </div>
        <!-- duplicate-field -->
    </div>
  </div>

  <div class="right">
    <!-- color section -->
    <div class="product-name mH1">率性俐落大學T</div>
    <div class="margin20"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>89%的購買者推薦此商品。</div>
    <div class="priceTitle mH3 margin20">NT $50000</div>
    <div class="selectColor mH2 margin20">SELECT COLOR:</div>
    <div class="color-wrapper margin20">
      <div class="PicColor-Wrap flex ">
        <span class="PicColor white"></span>
        <span class="PicColor black"></span>
        <span class="PicColor red"></span>
        <span class="PicColor yellow"></span>
        <span class="PicColor green"></span>

        <div class="CKCK">
          <i class="fa fa-heart heart"></i>
        </div>

      </div>
      <div class="PicColor-Wrap flex">
        <div class="CKCK">
          <img class="pic-color-arrow" src="./static/images/arrow.png" alt="">
        </div>

        <span class="PicColor lightBlue"></span>
        <span class="PicColor blue"></span>
        <span class="PicColor purple"></span>
        <span class="PicColor orange"></span>
        <span class="PicColor pink"></span>

      </div>

    </div>
    <div class="select-size margin20">
      <select name="" id="">
        <option value="">M</option>
        <option value="">S</option>
        <option value="">L</option>
      </select>
      <select name="" id="">
        <option value="">1</option>
      </select>
    </div>
    <div class="cart margin20">
      加入購物車
    </div>
    <div class="return mH2 margin20">成份和保養</div>
    <div class="return mH2 margin20">配送、換貨和退貨</div>
  </div>

<!-- mobile collect menu -->
<!-- Klein: need to fix!!
      <div class="mobile-background play">
              <div class="mobile-collect">加入收藏</div>
              <div class="mobile-cart">加入購物車</div>
      </div>
-->
</div>
</body>
</html>