<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/css/vendors/normalize.min.css">
    <link rel="stylesheet" href="./static/css/font.css">
    <link rel="stylesheet" href="./static/css/shopPage.css">
</head>
<body>
    <div class="wrapper">   
        <img class="productBanner" src="./static/images/top.png" alt="">
<!-- product -->
        <div class="sectionProduct">
    <!-- top block -->
            <div class="i50 title">Man's Pick up</div>
           
                <div class="topBlock">
                        <div class="productPic"><img class="cover-fit" src="./static/images/Shop-img.jpg" alt=""></div>
                        <div class="topTitle">COMBINATION MANHATTAN</div>
                        <div class="productPic"><img class="cover-fit" src="./static/images/Shop-img.jpg" alt=""></div>
                    
                </div>
                <!-- product list -->
                <div class="product-section">
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <a href="/partial/manCart1.html"><img class="product-image" src="./static/images/Shop-img.jpg" alt=""></a>
                            <button class="btn"><img class="love-btn" src="./static/images/love-icon.png" alt=""></button>
                            <div class="product-discription">
                                <p class="p-title">個性長版外套</p>
                                <p class="p-main over-flow">2020新款2020新款2020新款2020新款2020新款</p>
                                <p class="p-detail">輕柔又保暖，每個細節都經過嚴選及改良，實現更舒適的穿著感。</p>
                                <p class="p-price">NT$780</p>
                            </div>
                        </div>
                  
                      

                </div>
         
      
                <!-- product list end-->

               

            
           
          
        </div>
    </div>

    
</body>
</html>
